 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Playpen+Sans:wght@300;600&display=swap');
* {
    box-sizing: border-box;
}
 html {
    font-family: 'Playpen Sans', cursive;
}
body{
    margin: 0;
}
h1, h2, h3, p, ul{
    margin-top: 0;
    margin-bottom: 0;
}
button{
    border: none;
    cursor: pointer;
    font-family: inherit;
}